;<?php

;exit; //For added security; see: http://php.net/manual/en/function.parse-ini-file.php#99474

;/*

[connection]

;The hostname for the server on which the target database(s) reside(s).
;On UNIX-like systems, use "localhost" to connect over a UNIX socket (this is
;necessary to authenticate using MySQL's "auth_socket" plugin, or MariaDB's
;"UNIX_SOCKET" plugin).

hostname="localhost"

;The user as whom to query the list of database names to be backed-up, and then
;call the "mysqldump" executable against each.
;This user need not necessarily be the root MySQL user, but the specific user
;should have access rights that are sufficient to backup the target database(s).

username="mysql-backup"

;Supplying a password here is highly discouraged, due to the potential for other
;system users to discern the value. It is far more secure to use a socket
;authentication plugin (MySQL and MariaDB each have one) so that supplying a
;password is not necessary. If authenticating by socket plugin is not an option,
;maximally restrictive permissions should be set on this .ini file! 

;password=""

[backup]

;The directory into which databases will be dumped. This directory must exist,
;as no effort is made to create it automatically.

dumpdir="/home/mysql-backup/db-backups"

;*/

;?>
